/* Estilos para la barra de navegación */
body {
    background-color: #fff;
    font-family: Arial, sans-serif;
  }
  
  .header {
    background-color: #00471b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
  }
  
  .navegacion ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .navegacion ul li {
    margin: 0 20px;
  }
  
  .navegacion ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
  }
  
  .navegacion ul li a:hover {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
  }
  
  .logo img {
    width: 100%;
    max-width: 150px;
    height: auto;
  }
  
  /* Estilos para el formulario */
  .container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #form-title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 50px;
  }
  
  form {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    font-family: 'Courier New', Courier, monospace;
  }
  
  input[type="email"],
  input[type="text"],
  input[type="tel"] {
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 5px;
    font-family: Arial, sans-serif;
  }
  
  button[type="submit"] {
    padding: 10px 20px;
    border: none;
    background-color: #00471b;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  button[type="submit"]:hover {
    background-color: #006633;
  }
  /* Estilos para el calendario */
.ui-datepicker {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}

.ui-datepicker-header {
  background-color: #00471b;
  color: #fff;
  font-weight: bold;
  text-align: center;
  border-radius: 5px 5px 0 0;
  padding: 5px;
}

.ui-datepicker-prev, .ui-datepicker-next {
  background-color: #fff;
  color: #00471b;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
}

.ui-datepicker-calendar {
  margin-top: 10px;
}

.ui-datepicker-calendar th {
  background-color: #00471b;
  color: #fff;
  font-weight: bold;
  text-align: center;
  padding: 5px;
}

.ui-datepicker-calendar td {
  text-align: center;
  padding: 5px;
}

.ui-datepicker-calendar a {
  color: #00471b;
  text-decoration: none;
}

.ui-datepicker-calendar a:hover {
  color: #fff;
  background-color: #006633;
  border-radius: 5px;
}
