body {
  background-color: #ffffff;
  font-family: Arial, sans-serif;
}
  
.header {
  background-color: #00471b;
  display: flex;
  justify-content: space-around;
}

.navegacion {
  float: right;
  color: #ffffff;
  
}
.navegacion ul li a{
  background-color: #00471b;
  color: rgb(255, 255, 255);
}
nav ul li a {
  display: flex;
  color: white;
  text-decoration: none;
  padding: 15px;
  font-weight: bold;
}

.nav-link {
  color: white;
  font-size: 16px; 
  padding: 15px;
  font-weight: bold;
}

.logo {
  width: 0,001px;
  height: 0,001px;
}

  main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    font-family: 'Oswald', sans-serif;
    color: rgb(3, 63, 3);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 50px;
    margin-bottom: 30px;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
  }
  .image-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  
  .image-container img {
    width: 700px;
    height: 525px;
    object-fit: cover;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  footer {
    background-color: #f2f2f2;
    padding: 1rem;
    margin-top: 2rem;
    text-align: center;
  }
  
  footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  footer li {
    margin-bottom: 0.5rem;
  }
  
  footer a {
    color: #007a33;
    text-decoration: none;
    font-weight: bold;
  }
  
  footer a:hover {
    text-decoration: underline;
  }
  
  /* Estilos específicos para los Celtics */
  /* nav {
    background-color: #002a0d;
  } */
  
  /* h1 {
    color: #00471b;
  } */
  
  /* footer {
    background-color: #f2f2f2;
  } */